# https://my.telegram.org/
API_ID=123456
API_HASH=abcdef123456

# Прокси
USE_PROXY=true
PROXY_SCHEME=http
PROXY_HOST=123.456.789.123
PROXY_PORT=8000
PROXY_USER=qwerty
PROXY_PASS=qwerty123

# Название чата
DIALOG_TARGET="Chat_name" 

# Если медиафайлы находятся в комментариях сообщения -> true
FROM_COMMENTS=true
